body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 15, 15);
}
.ui {
    position: absolute;
    left: 1em;
    top: 1em;
}
.heading {
    justify-content: center;
    margin-bottom: 3em;
}
.content {
    justify-content: center;
    align-items: center;
}
.image-container {
    padding: 1em;
    border: solid 2px green;
}
#puppy-image {
    cursor: url("../assets/paw.png"), pointer;
}